.wrapper__ipad_768px {
    display: none;
    background-color: #E7E6E4;
    .About_column__768px {
        min-height: 1615px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: start;
        // padding: 0 56px;
    }
    .About__row__circles {
        min-height: 321px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .About_short {
        font-size: 24px;
    }
    .Block_circle_info {
        // 62%
        // 31%
        display: grid;
        position: relative;
        grid-template-columns: repeat(12, 1fr);
        max-height: 192px;
        img {
            grid-column: 1 / span 8;
            grid-row: 1; // must be on the same row as the other image
            margin-top: 55px;
            margin-left: 20px;
            z-index: 1; // make this image render on top of the bottom
            max-width: 48px;
            width: 100%;
            max-height: 48px;
        }
    }
    .Block_inf_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 0 41px 6px;
        // align-content: center;
        grid-column: 4 / -1;
        grid-row: 1; // make this image be on the same row
        max-width: 150px;
        width: 100%;
        height: 150px;
        background-color: rgba($color: #A4BEBB, $alpha: 0.25);
        border-radius: 50%;
        // align-items: center;
        p {
            color: #1A1A1A;
            font-size: 32px;
            font-weight: bold;
        }
        .text {
            max-width: 140px;
            width: 100%;
            margin-top: 12px;
            position: relative;
            left: 20px;
            font-size: 14px;
        }
    }
    // ===============БЛОК НАШИ ПРОЕКТЫ===============
    .Our_project__ipad_768px {
        .Our__proj {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 16px;
            min-height: 1005px;
        }
        img {
            width: 415px;
            height: 266px;
            object-fit: cover;
        }
        .title {
            font-weight: 500;
            font-size: 24px;
        }
        .subtitle {
            font-size: 12px;
            line-height: 100%;
            max-width: 111px;
            width: 100%;
            margin: 0;
        }
        .Our_projects {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .block__title__text {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
        .text_block {
            margin-top: 0;
            max-width: 191px;
            width: 100%;
            max-height: 180px;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px 13px;
            .text {
                font-weight: bold;
                font-size: 24px;
                line-height: 100%;
                margin-top: 16px;
            }
        }
        .block_1 {
            .block__title__text {
                max-height: 290px;
                height: 100%;
            }
        }
        .block_2 {
            // margin-top: 128px;
            flex-direction: row-reverse;
            .text {
                color: #A4BEBB;
            }
            .block__title__text {
                max-height: 174px;
                height: 100%;
            }
        }
        .block_3 {
            .text_block {
                max-height: 302px;
            }
            .block__title__text {
                max-width: 416px;
                max-height: 116px;
                height: 100%;
            }
        }
    }
    // ===============БЛОК ПАРТНЕРОВ===============
    // .Partner_of_center {
    //     overflow: hidden;
    //     color: Black;
    //     min-height: 215px;
    //     margin-top: 79px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     .title {
    //         font-weight: normal;
    //         font-size: 24px;
    //     }
    // }
    // .Partner_of_center__row {
    //     overflow: hidden;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }
    // .partner_card {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     padding: 16px 16px 16px 20px;
    //     max-width: 191px;
    //     height: 80px;
    //     img {
    //         max-width: 45px;
    //         max-height: 45px;
    //     }
    // }
    // .name_of_partner {
    //     max-width: 94px;
    //     margin-left: 16px;
    // }
    .Project_donate {
        min-height: 1024px;
        background-image: url("img/About_ipad_mini/background.png");
        display: flex;
        justify-content: center;
        align-items: center;
        .Project_donate__text_block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 640px;
            min-height: 308px;
            .title {
                font-weight: bold;
                font-size: 32px;
                line-height: 120%;
            }
            .text {
                line-height: 120%;
                display: flex;
                justify-content: space-between;
                font-weight: normal;
                font-size: 18px;
            }
            .button_donate {
                align-self: flex-start;
            }
        }
    }
    .Project_donate:before {
        background-color: rgba(0, 0, 0, .5);
    }
}

@media (max-width: 768px) {
    .wrapper__ipad_768px {
        display: block;
    }
}

// ===================ПОМОЩЬ ПРОЕКТУ================
.button_donate {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 24px;
    max-width: 304px;
    width: 100%;
    min-height: 64px;
}

a:visited {
    color: #FFFFFF;
}